   body {
      background-image: url(Car.jpeg);
      background-size: cover;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: start;
      padding-left: 30px;
    }
    .login {
      background: #fff;
      border-radius: 15px;
      padding: 50px;
      width: 320px;
      margin-top: 600px;
    }
    .login input {
      border-radius: 25px;
      text-transform: uppercase;
      text-align: center;
      border: 1px solid #ccc;
    }
    .login button {
      border-radius: 25px;
      width: 100px;
      margin: 0 auto;
      display: block;
    }
    .divider-line {
      border-bottom: 2px solid #000;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .icons i {
      font-size: 20px;
      margin-right: 10px;
      cursor: pointer;
    }
    